<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>秀才君vsネットBOMB │ Project N</title>
  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <svg width="0" height="0" class="hidden">
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.47 24.94" id="arrow" class="arrow_svg">
      <title>arrow</title>
      <polygon points="0 24.94 0 19.66 7.35 12.47 0 5.92 0 0 12.47 12.47 0 24.94"/>
    </symbol>
  </svg>
  <header class="header">
    <div class="container">
      <div class="header__logo"><img src="assets/images/logo.svg" alt="チームロゴ"></div>
      <div class="header__name">N・S高生制作サイト</div>
    </div>
  </header>
  <main class="main main-page">
    <!-- タイトルエリア　ここから -->
    <h1 class="main-title"><img src="assets/images/main-image.png" alt="封鎖された家庭科室からの脱出"></h1>
    <!-- タイトルエリア　ここまで -->
    <div id="stage">

      <!-- STAGE1　ここから -->
      <div id="sectionStage1" class="stage">

        <!-- STAGE1問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：1</span>ゲームを始めよう</h2>
            <p class="text-center">エラー発生<br>
              友人曰く、まずはシステム警告を止めない限り、先へは進めないらしい
どんな謎が出てくるのかと聞くと、「ウイルスによって変わるから、答えは友人わからない」そうだ
</p>
            <p class="text-center">困ったときは、ヒントがある。なるべく見ないようにゲームを進めていこう。</p>
  
            <div class="container">
              <figure class="image__container">
                <img src="assets/images/stage1.png" alt="">
              </figure>
            </div>
          </div>
        </section>
        <!-- STAGE1問題セクション　ここまで -->

        <!-- STAGE1解答入力セクション　ここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：1</span>キーワードを入力</h2>
            <!------------------------------------------------------------------------------------------------------------
              解答入力欄のコンポーネントです。入力欄・送信ボタン・エラーメッセージを表示します。
              v-bind:correct="correctAnswer['stage1']['q1']" は正解の解答を指します。
              v-on:answer-input="answerInput($event, 'stage1', 1)" は送信ボタンをクリックした時の動作を決める関数です。
              2番目、3番目の1引数 'stage1', 1 はstage1の1問目ということになります。
              1番麺の引数 $event は正解、不正解の判定を受け取る変数です。
              []、()の間違い、''の抜けがあると動きません。
            ------------------------------------------------------------------------------------------------------------>
            <answer-input v-bind:correct="correctAnswer['stage1']['q1']" v-on:answer-input="answerInput($event, 'stage1', 1)"></answer-input>

            <a class="link-hint" href="hint1.html" target="hint1">ヒントをみる ></a>
          </div>
        </section>
        <!-- STAGE1解答入力セクション　ここまで -->

        <!-- STAGE1クリア画面　ここから -->
        <!------------------------------------------------------------------------------------------------------
          ステージを全問正解するとclear['stage1']がtrusになります。
          v-if="clear['stage1']"はclear['stage1']がtrueになったら表示します。
          v-bind:class="{isClear:clear['stage1']}"はclear['stage1']がtrueになったら「isClear」クラスを追加します。
        -------------------------------------------------------------------------------------------------------->
        <section v-if="clear['stage1']" v-bind:class="{isClear:clear['stage1']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">STAGE：１  クリア！</div>
              <div class="clear-message__content">謎が解けて一息つこうとしていると、もう次に行けとの指示が
次は何をするのかと聞くと、ネットワーク切断とバックアップをすると言われた
そんな難しい横文字を使われてもわからん！
と、困惑していると、パソコンの画面に『思い出を守ろう』との文字が</div>
              <button v-on:click="nextStage('stage1')" onclick="location.href='#sectionStage2'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE1クリア画面　ここまで -->

      </div>
      <!-- STAGE1　ここまで -->

      <!-- STAGE2　ここから -->
      <!---------------------------------------------------------------------
        クリア画面の「次のステージへ」ボタンをクリックしたら表示します。
        v-if="next['stage1']"はnext['stage1']がtrueになったら表示します。
      ----------------------------------------------------------------------->
      <div v-if="next['stage1']" id="sectionStage2" class="stage">
        <section>
          <div class="section">
            <div class="container">
              <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：2</span>を止めろ																		
              </h2>
              <p class="text-center">どうやらシステムが難しい手順を勝手に簡略化してくれるらしい
システムの指示に従って進めていくと、また謎が出てきた</p>
            </div>
          </div>
          <div class="stage-column__container section bg-color--keycolor">
            <div class="container">
              <h2 class="section-title"><span class="section-title__stage">STAGE：2</span>キーワードを入力</h2>
              <!-------------------------------------------------------------
                class名"row"内のclass名"column"が横並びになります。
                改行する場合は以下のように追加してください。
                <div class="row">
                  <div class="column">
                    ～ 内容 ～
                  </div>
                </div>
              ------------------------------------------------------------->
              <div class="row">

                <!-- STAGE2-1　ここから -->
                <div class="column">
                  <!-- STAGE2-1問題セクション　ここから -->
                  <figure class="image__container">
                    <img src="assets/images/stage2.png" alt="">
                  </figure>
                  <!-- STAGE2-1問題セクション　ここまで -->
                  <!-- STAGE2-1解答入力セクション　ここから -->
                  <answer-input v-bind:correct="correctAnswer['stage2']['q1']" v-on:answer-input="answerInput($event, 'stage2', 1)"></answer-input>
                  <a class="link-hint" href="hint2.html" target="hint2">ヒントをみる ></a>
                  <!-- STAGE2-1解答入力セクション　ここまで -->
                </div><!-- /.column -->
                <!-- STAGE2-1　ここまで -->

<!-- STAGE2-2 を追加

                <div class="column">

                  <figure class="image__container">
                    <img src="assets/images/stage.png" alt="">
                  </figure>

                  <answer-input v-bind:correct="correctAnswer['stage2']['q2']" v-on:answer-input="answerInput($event, 'stage2', 2)"></answer-input>
                  <a class="link-hint" href="hint2.html" target="hint2">ヒントをみる ></a>
                　
                </div>

2-2追加ここまで -->
                  
<!-- STAGE2-3 を追加

                <div class="column">

                  <figure class="image__container">
                    <img src="assets/images/stage.png" alt="">
                  </figure>

                  <answer-input v-bind:correct="correctAnswer['stage2']['q3']" v-on:answer-input="answerInput($event, 'stage2', 3)"></answer-input>
                  <a class="link-hint" href="hint2.html" target="hint2">ヒントをみる ></a>

                </div>

2-3追加ここまで -->

              </div><!-- /.row -->

            </div>
          </div>
        </section>

        <!-- STAGE2クリア画面　ここから -->
        <section v-if="clear['stage2']" v-bind:class="{isClear:clear['stage2']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">STAGE：2　クリア！</div>
              <div class="clear-message__content">ここまでは順調に進めている
ここからはいよいよウイルスと戦うためのフェイズに入るらしい
ここを間違えるとこの先が大変なことになるようなので、真剣に進めていく</div>
                <button v-on:click="nextStage('stage2')" onclick="location.href='#sectionStage3'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE2クリア画面　ここまで -->
      </div>
      <!-- STAGE2　ここまで -->

      <div v-if="next['stage2']" id="sectionStage3" class="stage">
        <section>
          <div class="section">
            <div class="container">
              <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：3</span>ウイルスの特定をしよう</h2>
              <p class="text-center">また謎が出てきた
『君が乗り越えていくには○○○○○○が必要だね！』との文字が
まさかこの○に当てはまるのが答えなのか...？</p>
                
            </div>
          </div>
          <div class="stage-column__container section bg-color--keycolor">
            <div class="container">
              <h2 class="section-title"><span class="section-title__stage">STAGE：3</span>キーワードを入力</h2>
              <!-------------------------------------------------------------
                class名"row"内のclass名"column"が横並びになります。
                改行する場合は以下のように追加してください。
                <div class="row">
                  <div class="column">
                    ～ 内容 ～
                  </div>
                </div>
              ------------------------------------------------------------->
              <div class="row">


                <div class="column">
                  <!-- STAGE3問題セクション　ここから -->
                  <figure class="image__container">
                    <img src="assets/images/stage3.png" alt="">
                  </figure>
                  <!-- STAGE3問題セクション　ここまで -->
                  <!-- STAGE3解答入力セクション　ここから -->
                  <answer-input v-bind:correct="correctAnswer['stage3']['q1']" v-on:answer-input="answerInput($event, 'stage3', 1)"></answer-input>
                  <a class="link-hint" href="hint3.html" target="hint3">ヒントをみる ></a>
                  <!-- STAGE3解答入力セクション　ここまで -->
                </div><!-- /.column -->
                
              </div><!-- /.row -->

            </div>
          </div>
        </section>
     <!-- STAGE3クリア画面　ここから -->
     <section v-if="clear['stage3']" v-bind:class="{isClear:clear['stage3']}"  class="section section--clear bg-color--gray">
      <div class="container">
        <div class="clear-message">
          <div class="clear-message__title">STAGE：3　クリア！</div>
          <div class="clear-message__content">いよいよ最後のフェイズに突入！ホッとして気を抜いていると、
『ウイルスに攻撃or初期化』、どちらを選ぶかという選択肢が出てきた！
友人に聞いてもこんなもの設定していないという
決意をしてどちらかの選択肢を選ぶ</div>
            <button v-on:click="nextStage('stage3')" onclick="location.href='#sectionStage3'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
        </div>
      </div>
    </section>
        <!-- STAGE3クリア画面　ここまで -->
      </div>
    <div v-if="next['stage3']" id="sectionStage4" class="stage">
      <section>
        <div class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：4</span>ウイルスの弱点となる色を導き出せ！</h2>
            <p class="text-center">初期化してデータが消えたら困る！ということで、『ウイルスに攻撃』を選んだ
ここが重要なフェイズだということは理解している
緊張を押し殺し、謎に進むとRPG系の謎が登場する</p>
              
          </div>
        </div>
        <div class="stage-column__container section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：4</span>キーワードを入力</h2>
            <!-------------------------------------------------------------
              class名"row"内のclass名"column"が横並びになります。
              改行する場合は以下のように追加してください。
              <div class="row">
                <div class="column">
                  ～ 内容 ～
                </div>
              </div>
            ------------------------------------------------------------->
            <div class="row">

              <div class="column">
                <!-- STAGE4問題セクション　ここから -->
                <figure class="image__container">
                  <img src="assets/images/stage4.png" alt="">
                </figure>
                <!-- STAGE4問題セクション　ここまで -->
                <!-- STAGE4解答入力セクション　ここから -->
                <answer-input v-bind:correct="correctAnswer['stage4']['q1']" v-on:answer-input="answerInput($event, 'stage4', 1)"></answer-input>
                <a class="link-hint" href="hint4.html" target="hint4">ヒントをみる ></a>
                <!-- STAGE4解答入力セクション　ここまで -->
              </div><!-- /.column -->
              
            </div><!-- /.row -->

          </div>
        </div>
      </section>
   <!-- STAGE4クリア画面　ここから -->
   <section v-if="clear['stage4']" v-bind:class="{isClear:clear['stage4']}"  class="section section--clear bg-color--gray">
    <div class="container">
      <div class="clear-message">
        <div class="clear-message__title">STAGE：4　クリア！</div>
        <div class="clear-message__content">データを無事に守り切った！
ほっとしていると画面に花火が打ち上がっている
どうしたのかと友人に尋ねると、なぜか大喜びしたあと、システムで設定したものだからもう大丈夫だと言われた
手助してくれた友人にお礼の言葉を言うと、何だか照れくさいのか、いつもと違う反応が返ってきた
</div>
          <button v-on:click="nextStage('stage4')" onclick="location.href='#sectionStage3'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
      </div>
    </div>
  </section>
      <!-- STAGE4クリア画面　ここまで -->
    </div>
   
  <div v-if="next['stage4']" id="sectionStage5" class="stage">
    <section>
      <div class="section">
        <div class="container">
          <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：5</span>PCを初期化しよう！</h2>
          <p class="text-center">ここまで大変だったのにこれ以上一人で進め切る自信がない！と思い、『初期化する』を選ぶ
これで思い出とはおさらばだなと悲しくなっていると、まさかのここでも謎が出現した
嘘でしょ！と反抗したくなる気持ちを抑え、残り時間のことを思い出して謎を解いていく
</p>
            
        </div>
          </div>
          <div class="stage-column__container section bg-color--keycolor">
            <div class="container">
              <h2 class="section-title"><span class="section-title__stage">STAGE：5</span>キーワードを入力</h2>
              <!-------------------------------------------------------------
                class名"row"内のclass名"column"が横並びになります。
                改行する場合は以下のように追加してください。
                <div class="row">
                  <div class="column">
                    ～ 内容 ～
                  </div>
                </div>
              ------------------------------------------------------------->
              <div class="row">


                <div class="column">
                  <!-- STAGE3問題セクション　ここから -->
                  <figure class="image__container">
                    <img src="assets/images/stage5.png" alt="">
                  </figure>
                  <!-- STAGE3問題セクション　ここまで -->
                  <!-- STAGE3解答入力セクション　ここから -->
                  
    <!-----------------------------------------------------------------------------------------------------------------
      解答入力欄のコンポーネントです。
      v-on:answer-input="answerInput($event, 'stage3', 1, 'final')" は送信ボタンをクリックした時の動作を決める関数です。
      4番目の引数 'final' は最終ステージを表します。
    ------------------------------------------------------------------------------------------------------------------>
    <answer-input v-bind:correct="correctAnswer['stage5']['q1']" v-on:answer-input="answerInput($event, 'stage5', 1, 'final')"></answer-input>
    <a class="link-hint" href="hint5.html" target="hint5">ヒントをみる ></a>
  </div>
</section>
    <!-- STAGE5クリア画面　ここまで -->
  </div>

</div>
      <!-- STAGE3　ここまで -->
    </div>
  </main>
  <footer class="footer section bg-color--gray">
    <div class="container">
        <p class="text-center">授業主催： N・S高<br>協力：株式会社SCRAP<br>企画制作：N・S高生</p>
        <p class="text-center">「リアル脱出ゲーム」は株式会社SCRAPの登録商標です。</p>
        <p class="text-center">株式会社SCRAPとN・S高で実施した授業「リアル脱出ゲームの作り方」の一環で<br>生徒が制作したものであり、SCRAPが主催/公認するものではありません。</p>
    </div>
  </footer>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="assets/js/main.js"></script>
</body>
</html>
